:root {
    --font-standard: "Inter", system-ui, sans-serif;
    
    --clr-grey-900: #ffffff;
    --clr-grey-800: #e8e8e8;
    --clr-grey-600: #939393;
    --clr-dark-300: #222222;
    
    --clr-primary: #1d1c18;
    --clr-accent: #e4bc59;
        
    --clr-bg: var(--clr-dark-300);    
    --clr-font: var(--clr-grey-800);
    --clr-border: var(--clr-grey-600);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

body {
    font-family: var(--font-standard);
    color: var(--clr-font);
    line-height: 1.5;
    height: 100dvh;
    background-color: var(--clr-bg);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}