.match-list {
    margin-inline: auto;
}

.navbar {
    border-bottom: 1px solid var(--border);
    min-height: 3rem;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    padding-inline: 0;
}

.navbar__links {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.navbar__link {
    padding-inline: 2rem;
    position: relative;
}

.navbar__link + .navbar__link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 1rem;
        width: 1px;
        transform: translate(-50%, -50%);
        opacity: 0.45;
        background: var(--border);
    }
}

.navbar__link--active {
    color: #c5c6c7;
}

.navbar__brand {
    padding-left: 1rem;
}

/*.navbar__link::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    width: 0;*/
/*    height: 3px;*/
/*    background: #66fcf1;*/
/*    transition: width 0.3s ease, left 0.3s ease;*/
/*}*/

/*!* Från mitten *!*/
/*.navbar__link:hover::after,*/
/*.navbar__link--active::after {*/
/*    width: calc(100% - 4rem);*/
/*    left: 2rem;*/
/*}*/